test

*.xcuserstate

*.xcscheme

UltimatePractice/UltimatePractice.xcodeproj/xcuserdata/jerrylei.xcuserdatad/xcschemes/xcschememanagement.plist

UltimatePractice/UltimatePractice.xcodeproj/xcuserdata/jerrylei.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

